@import "tailwindcss";

@theme {
  --color-primary: #0FADEB;
  --color-secondary: #EB0F67;
  --color-background: #FFFFFF;
  --color-foreground: #000000;
  --font-inter: var(--font-inter), sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter), sans-serif;
  }
}